### Capstone Project

# Opening a Vegetarian Restaurant in Toronto

##### by Christine Brachthäuser

From the Open Data Portal of the City of Toronto the following table with data based on the 2016 Census of 140 Toronto neighborhoods is downloaded.

In [42]:
# The code was removed by Watson Studio for sharing.
import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0


# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_6cb1bd1db7a943ccbd80661dd83649f1 = 'https://s3-api.us-geo.objectstorage.softlayer.net'
else:
    endpoint_6cb1bd1db7a943ccbd80661dd83649f1 = 'https://s3-api.us-geo.objectstorage.service.networklayer.com'

client_6cb1bd1db7a943ccbd80661dd83649f1 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='r4v08f1tiZAD_WU-g7TQsHCsUFknaHrFjUOu83cUGr75',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_6cb1bd1db7a943ccbd80661dd83649f1)

body = client_6cb1bd1db7a943ccbd80661dd83649f1.get_object(Bucket='courseracapstone-donotdelete-pr-ukcq33ldvta5e3',Key='neighbourhood-profiles-2016-csv.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,1,Neighbourhood Information,Neighbourhood Information,City of Toronto,Neighbourhood Number,NaN,129,128,20,95,...,37,7,137,64,60,94,100,97,27,31
1,2,Neighbourhood Information,Neighbourhood Information,City of Toronto,TSNS2020 Designation,NaN,No Designation,No Designation,No Designation,No Designation,...,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,Emerging Neighbourhood
2,3,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2016","2,731,571","29,113","23,757","12,054","30,526",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
3,4,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2011","2,615,060","30,279","21,988","11,904","29,177",...,"15,004","21,343","53,350","11,703","7,826","13,986","10,578","11,652","27,713","14,687"
4,5,Population,Population and dwellings,Census Profile 98-316-X2016001,Population Change 2011-2016,4.50%,-3.90%,8.00%,1.30%,4.60%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%

In [43]:
pd.set_option('max_colwidth', 400)

In [44]:
df_data_1["Characteristic"][989]
df_data_1["Characteristic"][989]=df_data_1["Characteristic"][989].replace('to', ' ')
df_data_1.loc[[989]]

/opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
989,990,Income,Income of individuals in 2015,Census Profile 98-316-X2016001,"$10,000 $19,999","425,580","6,475","4,640","1,565","3,790",...,"2,625","3,200","9,640","1,715","1,200","2,170","1,135","1,185","5,000","2,260"

In [45]:
df_data_1["Characteristic"] = df_data_1["Characteristic"].astype(str)

In [46]:
df_data_1.loc[[989]]

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
989,990,Income,Income of individuals in 2015,Census Profile 98-316-X2016001,"$10,000 $19,999","425,580","6,475","4,640","1,565","3,790",...,"2,625","3,200","9,640","1,715","1,200","2,170","1,135","1,185","5,000","2,260"

In [47]:
print('The table has {} rows in all.'.format(df_data_1.shape[0]))

The table has 2383 rows in all.

In [48]:
import json
import numpy as np

import csv


import requests
from pandas.io.json import json_normalize
from time import sleep

import matplotlib.pyplot as plt

import matplotlib.cm as cm
import matplotlib.colors as colors

from sklearn.cluster import KMeans 

print('Liberies imported.')

Liberies imported.

#### The census data dataframe is now reduced to basic neighborhood characteristics relevant for this project that can be directly extracted from the source table.

In [49]:
df_profiles = df_data_1.iloc[[2,4,1675,2290,2354],4:].copy()
df_profiles.drop(['City of Toronto'], axis=1, inplace=True)
df_profiles

,Characteristic,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,Bay Street Corridor,Bayview Village,Bayview Woods-Steeles,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
2,"Population, 2016","29,113","23,757","12,054","30,526","27,695","15,873","25,797","21,396","13,154",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
4,Population Change 2011-2016,-3.90%,8.00%,1.30%,4.60%,2.90%,2.80%,33.30%,21.10%,-2.80%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%
1675,"Postsecondary certificate, diploma or degree",10985,10285,5300,20430,15950,8200,17505,13740,7470,...,10315,9935,21370,6620,3920,7230,7990,8820,11420,5240
2290,Private retirement income: Average amount ($),"18,482","18,200","18,562","42,918","29,704","18,528","37,712","32,763","28,249",...,"24,524","21,041","20,190","22,003","19,674","19,513","36,438","48,170","13,455","14,165"
2354,After-tax income: Average amount ($),"26,955","27,928","39,159","80,138","51,874","37,927","43,427","41,440","38,196",...,"36,093","36,713","27,341","44,594","39,565","43,054","65,356","80,555","26,651","32,904"

#### Cleaning up data for better use later on

In [50]:
# moving the percentage sign into the index 

df_profiles = df_profiles.replace(["Population Change 2011-2016"], "Population Change 2011-2016 (%)")

In [51]:
df_profiles = df_profiles.set_index('Characteristic')
df_profiles

,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,Bay Street Corridor,Bayview Village,Bayview Woods-Steeles,Bedford Park-Nortown,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
Characteristic,,,,,,,,,,,,,,,,,,,,,
"Population, 2016","29,113","23,757","12,054","30,526","27,695","15,873","25,797","21,396","13,154","23,236",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
Population Change 2011-2016 (%),-3.90%,8.00%,1.30%,4.60%,2.90%,2.80%,33.30%,21.10%,-2.80%,0.20%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%
"Postsecondary certificate, diploma or degree",10985,10285,5300,20430,15950,8200,17505,13740,7470,12765,...,10315,9935,21370,6620,3920,7230,7990,8820,11420,5240
Private retirement income: Average amount ($),"18,482","18,200","18,562","42,918","29,704","18,528","37,712","32,763","28,249","37,101",...,"24,524","21,041","20,190","22,003","19,674","19,513","36,438","48,170","13,455","14,165"
After-tax income: Average amount ($),"26,955","27,928","39,159","80,138","51,874","37,927","43,427","41,440","38,196","85,678",...,"36,093","36,713","27,341","44,594","39,565","43,054","65,356","80,555","26,651","32,904"

In [52]:
# eliminating the commas and the percent signs from the table

df_profiles = df_profiles.apply(lambda x:x.str.replace(',','').str.replace('%',''))
df_profiles

,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,Bay Street Corridor,Bayview Village,Bayview Woods-Steeles,Bedford Park-Nortown,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
Characteristic,,,,,,,,,,,,,,,,,,,,,
"Population, 2016",29113,23757,12054,30526,27695,15873,25797,21396,13154,23236,...,16936,22156,53485,12541,7865,14349,11817,12528,27593,14804
Population Change 2011-2016 (%),-3.90,8.00,1.30,4.60,2.90,2.80,33.30,21.10,-2.80,0.20,...,12.90,3.80,0.30,7.20,0.50,2.60,11.70,7.50,-0.40,0.80
"Postsecondary certificate, diploma or degree",10985,10285,5300,20430,15950,8200,17505,13740,7470,12765,...,10315,9935,21370,6620,3920,7230,7990,8820,11420,5240
Private retirement income: Average amount ($),18482,18200,18562,42918,29704,18528,37712,32763,28249,37101,...,24524,21041,20190,22003,19674,19513,36438,48170,13455,14165
After-tax income: Average amount ($),26955,27928,39159,80138,51874,37927,43427,41440,38196,85678,...,36093,36713,27341,44594,39565,43054,65356,80555,26651,32904

In [53]:
# for convenience, the index names are shortened somewhat

df_profiles.index = ['Pop.', 'Pop. Change (%)', 'Higher Education', 'Av. Ret. Income ($)', 'Av. Income ($)']
df_profiles

,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,Bay Street Corridor,Bayview Village,Bayview Woods-Steeles,Bedford Park-Nortown,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
Pop.,29113,23757,12054,30526,27695,15873,25797,21396,13154,23236,...,16936,22156,53485,12541,7865,14349,11817,12528,27593,14804
Pop. Change (%),-3.90,8.00,1.30,4.60,2.90,2.80,33.30,21.10,-2.80,0.20,...,12.90,3.80,0.30,7.20,0.50,2.60,11.70,7.50,-0.40,0.80
Higher Education,10985,10285,5300,20430,15950,8200,17505,13740,7470,12765,...,10315,9935,21370,6620,3920,7230,7990,8820,11420,5240
Av. Ret. Income ($),18482,18200,18562,42918,29704,18528,37712,32763,28249,37101,...,24524,21041,20190,22003,19674,19513,36438,48170,13455,14165
Av. Income ($),26955,27928,39159,80138,51874,37927,43427,41440,38196,85678,...,36093,36713,27341,44594,39565,43054,65356,80555,26651,32904

In [54]:
# the neighborhoods are moved to the index column and the selected characteristics become regular columns

df_profiles_trans = df_profiles.transpose()
df_profiles_trans = df_profiles_trans.rename_axis('Neighborhood')
df_profiles_trans.head()

,Pop.,Pop. Change (%),Higher Education,Av. Ret. Income ($),Av. Income ($)
Neighborhood,,,,,
Agincourt North,29113,-3.90,10985,18482,26955
Agincourt South-Malvern West,23757,8.00,10285,18200,27928
Alderwood,12054,1.30,5300,18562,39159
Annex,30526,4.60,20430,42918,80138
Banbury-Don Mills,27695,2.90,15950,29704,51874

#### In addition to the absolute numbers of people with postsecondary education the respective percentage in regard to the overall population in each neighborhood is calculated and added to the table.

In [55]:
df_profiles_trans.dtypes

Pop.                   object
Pop. Change (%)        object
Higher Education       object
Av. Ret. Income ($)    object
Av. Income ($)         object
dtype: object

In [56]:
df_profiles_trans[['Pop.', 'Higher Education']] = df_profiles_trans[['Pop.', 'Higher Education']].astype(int)
df_profiles_trans['Pop. Change (%)'] = df_profiles_trans['Pop. Change (%)'].astype(float)

In [57]:
df_profiles_trans['Higher Education (%)'] = df_profiles_trans['Higher Education']/df_profiles_trans['Pop.']*100
df_profiles_trans['Higher Education (%)'] = np.round(df_profiles_trans['Higher Education (%)'], decimals=2)
df_profiles_trans.head()

,Pop.,Pop. Change (%),Higher Education,Av. Ret. Income ($),Av. Income ($),Higher Education (%)
Neighborhood,,,,,,
Agincourt North,29113,-3.9,10985,18482,26955,37.73
Agincourt South-Malvern West,23757,8.0,10285,18200,27928,43.29
Alderwood,12054,1.3,5300,18562,39159,43.97
Annex,30526,4.6,20430,42918,80138,66.93
Banbury-Don Mills,27695,2.9,15950,29704,51874,57.59

In [58]:
# changing the order of columns for better readability

columns_names = ['Pop.','Pop. Change (%)','Higher Education','Higher Education (%)','Av. Income ($)','Av. Ret. Income ($)']

df_profiles_trans = df_profiles_trans.reindex(columns = columns_names)

df_profiles_trans.head()

,Pop.,Pop. Change (%),Higher Education,Higher Education (%),Av. Income ($),Av. Ret. Income ($)
Neighborhood,,,,,,
Agincourt North,29113,-3.9,10985,37.73,26955,18482
Agincourt South-Malvern West,23757,8.0,10285,43.29,27928,18200
Alderwood,12054,1.3,5300,43.97,39159,18562
Annex,30526,4.6,20430,66.93,80138,42918
Banbury-Don Mills,27695,2.9,15950,57.59,51874,29704

In [59]:
df_data_1.iloc[989]

_id                                                   990
Category                                           Income
Topic                       Income of individuals in 2015
Data Source                Census Profile 98-316-X2016001
Characteristic                          $10,000   $19,999
                                        ...
Wychwood                                            2,170
Yonge-Eglinton                                      1,135
Yonge-St.Clair                                      1,185
York University Heights                             5,000
Yorkdale-Glen Park                                  2,260
Name: 989, Length: 146, dtype: object

### Middle and higher incomes

So far only average income is considered. For a more differentiated picture, the number of people with a personal after-tax income above $30000 #### and the percentage they represent in regard to all after-tax income earners is now calculated so that they can be added to the table later on.

In [60]:
df_profiles_income = df_data_1.iloc[986:997, 4:].copy()

df_profiles_income.drop([987], axis=0, inplace=True)
#df_profiles_income.drop(['City of Toronto'], axis=1, inplace=True)
#df_profiles_income = df_profiles_income.set_index('Characteristic')
df_profiles_income.head()

,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,Bay Street Corridor,Bayview Village,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
986,With after-tax income,"2,187,340","23,640","19,295","9,925","25,675","22,400","12,680","22,900","17,755",...,"14,265","17,755","40,655","9,760","6,470","11,005","9,595","10,905","22,275","11,465"
988,"Under $10,000 (including loss)","395,780","5,225","4,590","1,395","3,995","3,320","2,160","7,090","3,890",...,"3,460","2,720","8,955","1,320",885,"1,670","1,325","1,275","5,135","1,875"
989,"$10,000 $19,999","425,580","6,475","4,640","1,565","3,790","3,265","2,570","2,995","2,805",...,"2,625","3,200","9,640","1,715","1,200","2,170","1,135","1,185","5,000","2,260"
990,"$20,000 to $29,999","330,405","3,945","3,075","1,590","2,955","2,725","2,030","2,180","2,155",...,"1,660","2,940","7,245","1,245",910,"1,750","1,060","1,125","4,030","2,165"
991,"$30,000 to $39,999","261,435","2,780","2,270","1,325","2,590","2,450","1,545","1,965","1,805",...,"1,390","2,355","5,250",970,730,"1,205","1,045","1,170","3,085","1,710"

In [61]:
df_profiles_income.dtypes

Characteristic                  object
City of Toronto                 object
Agincourt North                 object
Agincourt South-Malvern West    object
Alderwood                       object
                                 ...
Wychwood                        object
Yonge-Eglinton                  object
Yonge-St.Clair                  object
York University Heights         object
Yorkdale-Glen Park              object
Length: 142, dtype: object

In [62]:
df_profiles_income = df_profiles_income.apply(lambda x:x.str.replace(',',''))

In [63]:
#df_profiles_income = df_profiles_income.astype(int)

ValueError: invalid literal for int() with base 10: '  With after-tax income'

In [64]:
df_profiles_income

,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,Bay Street Corridor,Bayview Village,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
986,With after-tax income,2187340,23640,19295,9925,25675,22400,12680,22900,17755,...,14265,17755,40655,9760,6470,11005,9595,10905,22275,11465
988,Under $10000 (including loss),395780,5225,4590,1395,3995,3320,2160,7090,3890,...,3460,2720,8955,1320,885,1670,1325,1275,5135,1875
989,$10000 $19999,425580,6475,4640,1565,3790,3265,2570,2995,2805,...,2625,3200,9640,1715,1200,2170,1135,1185,5000,2260
990,$20000 to $29999,330405,3945,3075,1590,2955,2725,2030,2180,2155,...,1660,2940,7245,1245,910,1750,1060,1125,4030,2165
991,$30000 to $39999,261435,2780,2270,1325,2590,2450,1545,1965,1805,...,1390,2355,5250,970,730,1205,1045,1170,3085,1710
992,$40000 to $49999,213815,2005,1665,1170,2370,2360,1200,1730,1700,...,1160,1990,3805,930,680,1040,985,1140,2215,1225
993,$50000 to $59999,154925,1220,1150,930,1930,1905,895,1565,1400,...,945,1435,2365,805,600,830,800,990,1235,755
994,$60000 to $69999,112495,745,695,625,1630,1550,675,1545,1110,...,825,950,1445,700,475,580,650,740,725,470
995,$70000 to $79999,84300,525,500,510,1215,1135,470,1125,860,...,655,780,830,635,380,445,500,610,375,390
996,$80000 and over,208615,720,710,830,5200,3675,1140,2715,2035,...,1555,1385,1090,1430,610,1315,2095,2680,455,620

In [65]:
# summing up the number of people with individual incomes above $30000 in each neighborhood

df_higher_incomes = pd.DataFrame(df_profiles_income.iloc[4:].sum(axis=0), columns = ['Inc. above $30000'])
df_higher_incomes.head()

                                                                                                                                    Inc. above $30000
Characteristic                    $30000 to $39999    $40000 to $49999    $50000 to $59999    $60000 to $69999    $70000 to $79999    $80000 and over
City of Toronto                                                                                                   26143521381515492511249584300208615
Agincourt North                                                                                                                 278020051220745525720
Agincourt South-Malvern West                                                                                                    227016651150695500710
Alderwood                                                                                                                        13251170930625510830

In [66]:
df_income_percent = df_profiles_income.copy()
df_income_percent = df_income_percent.div(df_income_percent.iloc[0], axis=1)
df_income_percent = np.round(df_income_percent, decimals = 2)
df_income_percent.head()

AssertionError: <class 'pandas.core.series.Series'>

In [ ]:
# summing up the share of people with individual incomes above $30000

df_higher_incomes_percent = pd.DataFrame(df_income_percent.iloc[4:].sum(axis=0)*100, columns = ['Inc. above $30000 (%)'])
df_higher_incomes_percent.head()

### Middle age population

The number of people between 30 and 75 years as well as the share of the overall population they represent is now calculated.

In [ ]:
df_profiles_age = df_data_1.iloc[15:57, 4:].copy()
df_profiles_age.drop(['City of Toronto'], axis=1, inplace = True)
df_profiles_age

In [ ]:
# the following rearrangement is necessary since row 31 is misplaced in the source table;

df_profiles_age = df_profiles_age.reindex([15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,32,33,34,35,36,37,38,31,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56])
df_profiles_age = df_profiles_age.reset_index()
df_profiles_age

In [ ]:
df_age_men = df_profiles_age.iloc[0:21].copy()
df_age_men.drop(['index'], axis=1, inplace=True)
df_age_men.head()

In [ ]:
df_age_women = df_profiles_age.iloc[21:42].copy()
df_age_women.drop(['index'], axis=1, inplace=True)
df_age_women.head()

#### Men and women are now merged to one common age group.

In [ ]:
df_age_men_list = df_age_men['Characteristic'].tolist()
df_age_men_list = [s.strip('Male:') for s in df_age_men_list]
df_age_men_list = [s.replace('Male:','') for s in df_age_men_list]

df_age_women_list = df_age_women['Characteristic'].tolist()
df_age_women_list = [s.strip('Female:') for s in df_age_women_list]
df_age_women_list = [s.replace('Female:','') for s in df_age_women_list]

In [ ]:
df_age_men['Characteristic'] = df_age_men_list
df_age_women['Characteristic'] = df_age_women_list

In [ ]:
df_age_men = df_age_men.set_index(['Characteristic'])
df_age_men = df_age_men.astype(int)
df_age_men.head()

In [ ]:
df_age_women = df_age_women.set_index(['Characteristic'])
df_age_women = df_age_women.astype(int)
df_age_women.head()

In [ ]:
# the targeted age group is now reduced to the 30 to 70 year-olds. 

middle_age_men = df_age_men.iloc[6:14].copy()
middle_age_women = df_age_women.iloc[6:14].copy()

In [ ]:
middle_age_men = middle_age_men.astype(int)
middle_age_women = middle_age_women.astype(int)

In [ ]:
middle_age_men.head(2)

In [ ]:
middle_age_women.head(2)

In [ ]:
df_middle_age = middle_age_men + middle_age_women
df_middle_age

In [ ]:
df_age = pd.DataFrame(df_middle_age.sum(axis=0), columns=['Pop. 30-70 years'])
df_age.head()

In [ ]:
# now the share of the 30-70-year-olds is calculated

df_age_percent = df_middle_age
df_age_percent = df_age_percent.append(df_profiles.iloc[0])
df_age_percent

In [ ]:
df_age_percent = df_age_percent.astype(int)
df_age_percent = df_age_percent.div(df_age_percent.loc['Pop.'])
df_age_percent = np.round(df_age_percent, decimals = 2)
df_age_percent.drop(['Pop.'], axis=0, inplace=True)

In [ ]:
df_age_p = pd.DataFrame(df_age_percent.sum(axis=0)*100, columns=['Pop. 30-70 years (%)'])
df_age_p.head()

### Latitude and longitude coordinates for all neighborhoods

In [ ]:
!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim

print('Geocoder imported')

In [ ]:
!pip install geocoder
import geocoder

In [ ]:
neighborhoods = df_profiles.columns.tolist()
#neighborhoods

In [ ]:
def get_latlng(neighborhoods_1):

    lat_lng_coords = None

    while (lat_lng_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(neighborhoods_1))
        lat_lng_coords = g.latlng
        
    return lat_lng_coords

print('The latitude of Agincourt North is {} and the longitude is {}.'.format(get_latlng('Agincourt North')[0], get_latlng('Agincourt North')[1]))

In [ ]:
latitudes = [get_latlng(neighborhoods)[0] for neighborhoods in neighborhoods]
sleep(1)

longitudes = [get_latlng(neighborhoods)[1] for neighborhoods in neighborhoods]
sleep(1)

In [ ]:
columns = ['Neighborhood', 'Latitude', 'Longitude']
df_geodata = pd.DataFrame(columns = columns)
df_geodata['Neighborhood'] = neighborhoods
df_geodata['Latitude'] = latitudes
df_geodata['Longitude'] = longitudes
df_geodata.head()

In [ ]:
df_geodata.shape

## Venue search with the Foursquare database

In [ ]:
CLIENT_ID = 'DHR44SDFIOFZWMVRIVWQFKNYLQHHPGTUN43UJPA5JNHFL0CT'
CLIENT_SECRET = 'QFCZXAPZBW1Q4ERFP1P3SCVC0QXLKAU33J00X0DNRZ5WXGFO'
VERSION = '20180605'

print('Your Credentials:')
print('CLIENT_ID:' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

In [ ]:
address = 'Toronto, ON'
geolocator = Nominatim(user_agent = "toronto_explorer")
location = geolocator.geocode(address)
tor_latitude = location.latitude
tor_longitude = location.longitude
print('The geographical coordinates of Toronto are {}, {}.'.format(tor_latitude, tor_longitude))

#### Search for vegetarian restaurants in Toronto as a whole with a radius of 20000.

In [ ]:
urlvegy = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius=20000&limit=1000&query=vegetarian / vegan restaurant'.format(
CLIENT_ID,CLIENT_SECRET,VERSION,tor_latitude,tor_longitude)

urlvegy

In [ ]:
resultsvegy = requests.get(urlvegy).json()

In [ ]:
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [ ]:
venues = resultsvegy['response']['groups'][0]['items']
vegy = pd.json_normalize(venues)
filtered_columns = ['venue.name','venue.categories','venue.location.lat','venue.location.lng','venue.location.address']
vegy['categories'] = vegy.apply(get_category_type, axis=1)
vegy.columns = [col.split(".")[-1] for col in vegy.columns]
vegy_restaurants = vegy[['name','categories','lat','lng','address']].copy()
vegy_restaurants.head()

In [ ]:
print('The search revealed that in total there are {} vegetarian restaurants in Toronto.'.format(vegy_restaurants.shape[0]))

In [ ]:
# search for vegetarian restaurants in the higher prices segments

urlvegy3 = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius=20000&limit=1000&query=vegetarian / vegan restaurant&price=3,4'.format(
CLIENT_ID,CLIENT_SECRET,VERSION,tor_latitude,tor_longitude)

urlvegy3

In [ ]:
resultsvegy3 = requests.get(urlvegy3).json()
#resultsvegy

In [ ]:
venues3 = resultsvegy3['response']['groups'][0]['items']
vegy3 = pd.json_normalize(venues3)
filtered_columns = ['venue.name','venue.categories','venue.location.lat','venue.location.lng','venue.location.address']
vegy3['categories'] = vegy3.apply(get_category_type, axis=1)
vegy3.columns = [col.split(".")[-1] for col in vegy3.columns]
vegy3_restaurants = vegy3[['name','categories','lat','lng','address']].copy()
vegy3_restaurants

In [ ]:
vegy_gourmet = vegy3_restaurants.iloc[:,[0,2,3,4,5]]
vegy_gourmet

In [ ]:
print('It turns out that only {} vegetarian restaurants fall into the upper price category.'.format(vegy_gourmet.shape[0]))

### Venue Search

The following venue search is conducted in regard to the individual neighborhoods to determine how well a vegetarian gourmet restaurant would fit in there. The radius is set to 1500, which seems to be sufficient to get a general impression of the business structure in each neighborhood.
The venue search is done in several stages. A first inquiry refers to venues generally. The result in form of a json file is converted to a pandas dataframe, which serves as source table for further analysis where specific venue categories are then examined to determine to what extent they are represented in each neighborhood.

In [ ]:
# I need to change radius and limit;

def getNearbyVenues(names, latitudes, longitudes, radius=1500, LIMIT=1000):
    
    venues_list = []
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
        
        urlvenue = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
                    CLIENT_ID,CLIENT_SECRET,VERSION,lat,lng,radius,LIMIT)
        
        results = requests.get(urlvenue).json()['response']['groups'][0]['items']
        
        venues_list.append([(
            name,
            lat,
            lng,
            v['venue']['name'],
            v['venue']['location']['lat'],
            v['venue']['location']['lng'],
            v['venue']['categories'][0]['name']) for v in results])
    
    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood','Neighborhood Latitude','Neighborhood Longitude','Venue','Venue Latitude','Venue Longitude','Venue Category']
    
    return(nearby_venues)

In [ ]:
toronto_venues = getNearbyVenues(names = df_geodata['Neighborhood'],
                                 latitudes = df_geodata['Latitude'],
                                 longitudes = df_geodata['Longitude']
                                 )

In [ ]:
print(toronto_venues.shape)
toronto_venues.head()

In [ ]:
venue_count = toronto_venues.groupby('Neighborhood').count()
neighborhood_venues = venue_count['Venue'].to_frame()
neighborhood_venues = neighborhood_venues.rename(columns={'Venue':'Venues'})
neighborhood_venues.head()

#### Search for complementary venues

In [ ]:
complement_venues_list = ['Farmers Market','Gourmet Shop','Health Food Store','Organic Grocery','Food & Vegetable Store','Health and Beauty Service','Yoga Studio']

complement_venues = toronto_venues.loc[toronto_venues['Venue Category'].isin(complement_venues_list)].reset_index()
complement_venues.head()

In [ ]:
complement_venues.shape

In [ ]:
complement_count = complement_venues.groupby('Neighborhood').count()
neighborhood_complements = complement_count['Venue'].to_frame()

In [ ]:
neighborhood_complements = neighborhood_complements.rename(columns={'Venue':'Compl. Venues'})
neighborhood_complements.head()

In [ ]:
# search for gyms and fitness centers

gym_venues = toronto_venues.loc[toronto_venues['Venue Category'].str.contains('Gym', case=False)].reset_index()
gym_venues.head()

In [ ]:
gym_venues.shape

In [ ]:
gym_count = gym_venues.groupby('Neighborhood').count()
neighborhood_gyms = gym_count['Venue'].to_frame()
neighborhood_gyms = neighborhood_gyms.rename(columns={'Venue':'Gyms'})
neighborhood_gyms.head()

#### Search for vegetarian restaurants in each neighborhood

In [ ]:
vegy_venues = toronto_venues[toronto_venues['Venue Category'] == 'Vegetarian / Vegan Restaurant']
vegy_venues.reset_index(drop=True, inplace=True)
vegy_venues.head()

In [ ]:
vegy_venues.shape

The discrepancy between this number of 52 vegetarian restaurants and the 94 vegetarian restaurants that were obtained in the search above is due to the relatively small radius.

In [ ]:
vegy_count = vegy_venues.groupby('Neighborhood').count()
vegy_neighborhoods = vegy_count['Venue'].to_frame()
vegy_neighborhoods = vegy_neighborhoods.rename(columns={'Venue':'Vegy Rests'})
vegy_neighborhoods.head()

####  Search for all restaurants per neighborhood

In [ ]:
toronto_restaurants = toronto_venues.loc[toronto_venues['Venue Category'].str.contains('Restaurant', case=False).reset_index(drop=True)]
toronto_restaurants.shape

In [ ]:
restaurant_count = toronto_restaurants.groupby('Neighborhood').count()
neighborhood_restaurants = restaurant_count['Venue'].to_frame()
neighborhood_restaurants = neighborhood_restaurants.rename(columns={'Venue':'Rests'})
neighborhood_restaurants.head()

## Merging data

All the data that has been gathered so far is now merged to a new dataframe that serves as the basis for the cluster analysis.

In [ ]:
df_profiles_trans.head()

In [ ]:
df_profiles_merged = pd.concat([df_profiles_trans,df_higher_incomes,df_higher_incomes_percent,df_age,df_age_p,neighborhood_venues,neighborhood_restaurants,vegy_neighborhoods,neighborhood_complements,neighborhood_gyms], axis=1).fillna(0)
df_profiles_merged.head()

In [ ]:
print('{} categories are now included as selection criteria for the decision-making process.'.format(df_profiles_merged.shape[1]))

### Clustering neighborhoods

In [ ]:
from sklearn.preprocessing import StandardScaler

X = df_profiles_merged.values[:,1:]
X = np.nan_to_num(X)

cluster_dataset = StandardScaler().fit_transform(X)
cluster_dataset

In [ ]:
num_cluster = 10

k_means = KMeans(init = "k-means++", n_clusters=num_cluster, n_init=12)
k_means.fit(cluster_dataset)
labels = k_means.labels_
print(labels)

In [ ]:
df_profiles_merged['Labels'] = labels
df_profiles_merged.head()

In [ ]:
df_profiles_merged.groupby('Labels').mean()

In [ ]:
df_cluster_0 = df_profiles_merged.loc[df_profiles_merged['Labels'] == 0]
df_cluster_0

In [ ]:
df_cluster_1 = df_profiles_merged.loc[df_profiles_merged['Labels'] == 1]
df_cluster_1

In [ ]:
df_cluster_2 = df_profiles_merged.loc[df_profiles_merged['Labels'] == 2]
df_cluster_2

In [ ]:
df_cluster_3 = df_profiles_merged.loc[df_profiles_merged['Labels'] == 3]
df_cluster_3

In [ ]:
df_cluster_4 = df_profiles_merged.loc[df_profiles_merged['Labels'] == 4]
df_cluster_4

In [ ]:
df_cluster_5 = df_profiles_merged.loc[df_profiles_merged['Labels'] == 5]
df_cluster_5

In [ ]:
df_cluster_6 = df_profiles_merged.loc[df_profiles_merged['Labels'] == 6]
df_cluster_6

In [ ]:
df_cluster_7 = df_profiles_merged.loc[df_profiles_merged['Labels'] == 7]
df_cluster_7

In [ ]:
df_cluster_8 = df_profiles_merged.loc[df_profiles_merged['Labels'] == 8]
df_cluster_8

In [ ]:
df_cluster_9 = df_profiles_merged.loc[df_profiles_merged['Labels'] == 9]
df_cluster_9

#### Cluster analysis conclusion
The cluster analysis singled out the Waterfront Communities - The Island as the most promising candidate as site for the new restaurant.

## Plausibility Test

To see whether the Waterfront Communities really are the best location for the restaurant, the neighborhood is compared to other potential candidate neighborhoods in regard to income and age distribution. For the comparison Casa Loma and Kensington-Chinatown were chosen. Casa Loma belongs to cluster 9 of the most well-off downtown neighborhoods. Kensington-Chinatown belongs to cluster 8 that contains the neighborhoods with the most already existing vegetarian restaurants.

### Income Distribution

In [ ]:
df_profiles_income

In [ ]:
df_income_distribution = df_profiles_income[['Casa Loma','University','Waterfront Communities-The Island']]
df_income_distribution.head()

In [ ]:
df_income_percent = df_income_distribution.div(df_income_distribution.iloc[0], axis=1)
df_income_percent = np.round(df_income_percent, decimals=2)
df_income_percent

In [ ]:
income_list = ['Under 20','Under 20','20-40','20-40','40-60','40-60','60-80','60-80','Over 80']

In [ ]:
df_income_percent.drop(df_income_percent.index[0], inplace=True)

In [ ]:
df_income_percent.index = income_list
df_income_percent.head()

In [ ]:
aggregation_function = {'Casa Loma':'sum','University':'sum','Waterfront Communities-The Island':'sum'}
df_income_percent_grouped = df_income_percent.groupby(df_income_percent.index).aggregate(aggregation_function)

df_income_percent_grouped.head()

In [ ]:
df_income_percent_grouped.index.name = 'Individual Income (000$)'
new_index = ['Under 20','20-40','40-60','60-80','Over 80']
df_income_percent_grouped = df_income_percent_grouped.reindex(new_index).reset_index()
df_income_percent_grouped

In [ ]:
df_income_percent_grouped.plot(x='Individual Income (000$)', kind='bar', stacked=False,
                              title='Distribution of Income (in %) - Neighborhood Comparison', figsize=(10,5), width=0.5)

### Population Pyramid

In [ ]:
casa_loma_women = pd.DataFrame(df_age_women['Casa Loma'])
casa_loma_women = casa_loma_women.rename(columns={'Casa Loma':'Females'})
casa_loma_men = pd.DataFrame(df_age_men['Casa Loma'])
casa_loma_men = casa_loma_men.rename(columns={'Casa Loma':'Males'})
casa_loma_men = casa_loma_men.reset_index()

casa_loma = casa_loma_women
casa_loma = casa_loma.reset_index()
casa_loma['Males'] = casa_loma_men['Males']
casa_loma.head()

In [ ]:
y = range(0, len(casa_loma))
x_males = casa_loma['Males']
x_females = casa_loma['Females']
fig,axes = plt.subplots(ncols=2, sharey=True, figsize=(10,6))
fig.patch.set_facecolor('lightgrey')
plt.figtext(.5,.9, 'Population - Casa Loma', fontsize=15, ha='center')
axes[0].barh(y,x_males, align='center', color='orange')
axes[0].set(title = 'Males')
axes[1].barh(y,x_females, align='center', color='purple')
axes[1].set(title = 'Females')
axes[1].grid()
axes[0].set(yticks = y, yticklabels=casa_loma['Characteristic'])
axes[0].invert_xaxis()
axes[0].grid()
plt1=plt.show()

In [ ]:
university_women = pd.DataFrame(df_age_women['University'])
university_women = university_women.rename(columns={'University':'Females'})
university_men = pd.DataFrame(df_age_men['University'])
university_men = university_men.rename(columns={'University':'Males'})
university_men = university_men.reset_index()

university = university_women
university = university.reset_index()
university['Males'] = university_men['Males']
university.head()

In [ ]:
y = range(0, len(university))
x_males = university['Males']
x_females = university['Females']
fig,axes = plt.subplots(ncols=2, sharey=True, figsize=(10,6))
fig.patch.set_facecolor('lightgrey')
plt.figtext(.5,.9, 'Population - University', fontsize=15, ha='center')
axes[0].barh(y,x_males, align='center', color='orange')
axes[0].set(title = 'Males')
axes[1].barh(y,x_females, align='center', color='purple')
axes[1].set(title = 'Females')
axes[1].grid()
axes[0].set(yticks = y, yticklabels=university['Characteristic'])
axes[0].invert_xaxis()
axes[0].grid()
plt1=plt.show()

In [ ]:
waterfront_women = pd.DataFrame(df_age_women['Waterfront Communities-The Island'])
waterfront_women = waterfront_women.rename(columns={'Waterfront Communities-The Island':'Females'})
waterfront_men = pd.DataFrame(df_age_men['Waterfront Communities-The Island'])
waterfront_men = waterfront_men.rename(columns={'Waterfront Communities-The Island':'Males'})
waterfront_men = waterfront_men.reset_index()

waterfront = waterfront_women
waterfront = waterfront.reset_index()
waterfront['Males'] = waterfront_men['Males']
waterfront.head()

In [ ]:
y = range(0, len(waterfront))
x_males = waterfront['Males']
x_females = waterfront['Females']
fig,axes = plt.subplots(ncols=2, sharey=True, figsize=(10,6))
fig.patch.set_facecolor('lightgrey')
plt.figtext(.5,.9, 'Population - Waterfront', fontsize=15, ha='center')
axes[0].barh(y,x_males, align='center', color='orange')
axes[0].set(title = 'Males')
axes[1].barh(y,x_females, align='center', color='purple')
axes[1].set(title = 'Females')
axes[1].grid()
axes[0].set(yticks = y, yticklabels=waterfront['Characteristic'])
axes[0].invert_xaxis()
axes[0].grid()
plt1=plt.show()